// Variabelen

$oxford_blue: #0A1128;
$Royal_blue_dark: #001F54;
$Indigo_dye: #034078;
$CG_blue: #1282A2;
$white: #FEFCFB;
$html5_col: #f16524;
$css3_col: #2862e9;
$bs_col:#563d7c;
$sass_col: #c66192;
$git_col: #eb4d28;
$gulp_col:#d34446;
$react_col: #61dafb;
$angular_col: #d6002f;
$js_col: #f5d33c;

$border_custom: 15px;
$breakpoint_small:576px;
$breakpoint_medium:786px;
$breakpoint_Large:992px;
$breakpoint_xL:1200px;

// Mixins
@mixin import_image($image_url) {
    background-image: url($image_url);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

//extend
%hover-icon {
    transition: 1s;
}

// SASS

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;

}

.extra_marge {
    padding-top: 20px;
}

.navbar {
    transition: background-color 200ms linear;

    #HomeTab {
        display: none;
    }
}

article p {
    font-family: 'Playfair Display', serif;
}


@media (min-width: $breakpoint_medium) {
    .navbar.scrolled {
        background-color: $oxford_blue !important;
        transition: background-color 200ms linear;
    }
}

@media (max-width: $breakpoint_small) {
    body {
        background-image: url(../img/background_mobile.png);
        background-position: center;
        background-attachment: fixed;
        background-size: 100vw 100vh;
    }
}

#skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.parallax {

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;


    &#profileparallax {
        background-image: url(../img/achtergrond.jpg);
        height: 100vh;
    }

    @media (max-width: $breakpoint_small) {
        &#profileparallax {
            background-image: none;
            height: 120vh;
        }

        & .transparent_parallax {
            background-color: rgba(0, 0, 0, 0.0);
            position: relative;
        }
    }

    &#projectparallax {
        background-image: url(../img/projectparallax.png);
        height: 750px;
    }

    &#footerparallax {
        background-image: url(../img/footerparallax.jpg);
        height: 750px;
    }
}


.transparent_parallax {
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;

    #downicon {
        position: absolute;
        left: 50%;
        color: white;
        bottom: 0;
        margin: 0 auto;
        margin-bottom: 30px;
        width: 30px;
        height: 30px;

        &:hover i.bounce-top {
            animation: bounce-top 1.5s both ease-in;
        }
    }
}


#navigatie {

    li>a,
    div {
        color: $white;
    }
}


h1,
h2,
h3,
h4 {
    color: $CG_blue;
}

#contact {

    h1,
    h2,
    h4 {
        color: $white;
    }
}

span.navbar-toggler {
    color: black !important;
}

footer {
    background-color: $oxford_blue;
    color: white;
}

div.card#ProfielCard {
    border: none;
    color: black;
    border-radius: $border_custom * 2;

    div.border-bottom {
        border-bottom: 2px solid $CG_blue !important
    }

    div.border-top {
        border-top: 2px solid $CG_blue !important
    }

    a.btn-outline-dark {
        border-color: $CG_blue;

        &:hover {
            background-color: $Indigo_dye;
        }
    }

    i.fab {
        @extend %hover-icon;
    }

    i.html5:hover {
        @extend %hover-icon;
        color: $html5_col;
    }

    i.css3:hover {
        @extend %hover-icon;
        color: $css3_col;
    }

    i.bootstrap:hover {
        @extend %hover-icon;
        color: $bs_col;
    }

    i.sass:hover {
        @extend %hover-icon;
        color: $sass_col;
    }

    i.js:hover {
        @extend %hover-icon;
        color: $js_col;
    }

    i.git:hover {
        @extend %hover-icon;
        color: $git_col;
    }

    i.gulp:hover {
        @extend %hover-icon;
        color: $gulp_col;
    }

    i.angular:hover {
        @extend %hover-icon;
        color: $angular_col;
    }

    i.react:hover {
        @extend %hover-icon;
        color: $react_col;
    }
}

div#Overmezelf {
    position: relative;

    div.bgsplash {
        position: absolute;
        bottom: -50px;
        width: 100%;
        height: 100vh;
        background-image: url(../img/backgroundsplash.png);
        background-size: cover;
        background-position: right;
        z-index: -1;
    }

    @media (max-width: $breakpoint_xL) {
        div.bgsplash {
            background-image: none;
        }
    }

    img#profielfoto {
        padding: 10px;
        border: 2px solid $CG_blue;
        background-color: $white;
    }
}


@media (min-width: $breakpoint_medium) {
    div#project_bg {
        background-image: url(../img/project_bg.png );

        background-position: center;
        background-size: 100vw 100vh;
        background-attachment: fixed;
        background-repeat: no-repeat;


    }
}

div#projecten {

    #intro {
        height: initial;
        border-radius: $border_custom;
    }

    div.card.shadow-drop-2-tl {
        height: 300px;

        border-radius: $border_custom;
    }

    .collapse div.card {

        border-radius: $border_custom;

        a.btn {
            background-color: $CG_blue;
            border-color: $CG_blue;
        }

        a.btn:hover {
            background-color: $Royal_blue_dark;
            border-color: $oxford_blue;
        }
    }

    .shadow-drop-2-tl {
        &:hover {
            -webkit-animation: shadow-drop-2-tl 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: shadow-drop-2-tl 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;


            &#card1 {
                @include import_image("../img/euroclear.png");
            }

            &#card2 {
                @include import_image("../img/Cs50x.png");

            }
            &#card5{
                @include import_image("../img/angular5.png");
            }

            @media (min-width: $breakpoint_medium) {
                &#card3 {
                    @include import_image("../img/travelbird.png");

                }

                &#card4 {
                    @include import_image("../img/Portfolio.png");

                }
            }


            @media (min-width: $breakpoint_medium) {

                &#card1,
                &#card2,
                &#card3,
                &#card4,
                &#card5 {
                    background-position: left;
                }
            }

            @media (max-width: $breakpoint_medium) {
                .card-body {
                    display: none;
                }
            }

            @media (max-width: $breakpoint_Large) {
                &#card3 {
                    @include import_image("../img/travelbird_sm.png");
                }

                &#card4 {
                    @include import_image("../img/portfolio_sm.png");

                    & .card-body {
                        color: #FEFCFB;
                    }

                    & .tech {
                        display: none;
                    }
                }

            }
        }

        // Lijntje on hover
        span.project {
            position: relative;
            font-size: 1.5rem;

            &:before {
                content: "";
                position: absolute;
                width: 0;
                height: 2px;
                bottom: 0;
                right: 0;

                background-color: rgba($color: $Indigo_dye, $alpha: 1);
                visibility: hidden;
                transition: all 0.3s ease-in-out;
            }
        }

        &:hover .zwart {
            background-color: rgba($color: $Indigo_dye, $alpha: .1);

        }

        &:hover span.project:before {
            visibility: visible;
            width: 100%;
        }

        &:hover small.tech {
            color: rgba(0, 0, 0, 1);
        }

        .zwart {
            width: 100%;
            height: 100%;
            background-color: rgba($color: $Indigo_dye, $alpha: .4);
            border-radius: $border_custom;
            color: $Indigo_dye;

        }

        div.zwart[aria-expanded="true"] {
            background-color: rgba($color: $Indigo_dye, $alpha: .1);

            & span.project:before {
                visibility: visible;
                width: 100%;
            }

            & small.tech {
                color: rgba(0, 0, 0, 1);
            }


        }

        small.tech {
            color: rgba(0, 0, 0, 0);
            transition: all 0.5s linear;
            font-size: 1rem;
        }


    }


}