$oxford_blue: #0A1128;
$Royal_blue_dark: #001F54;
$Indigo_dye: #034078;
$CG_blue: #1282A2;
$white: #FEFCFB;


.parallax {
    background-image: url(../img/achtergrond.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
}

#navigatie {
    background-color: $oxford_blue;

    li>a,
    div {
        color: $white;
    }

}

h1 {
    color: $CG_blue;
}

span.navbar-toggler-icon {
    color: #FEFCFB !important;
}

footer{
    background-color: $oxford_blue;
    color: white;
}