$oxford_blue: #0A1128;
$Royal_blue_dark: #001F54;
$Indigo_dye: #034078;
$CG_blue: #1282A2;
$white: #FEFCFB;

body {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}

.parallax {
    background-image: url(../img/achtergrond.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    
}

.transparent_parallax {
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;

    #downicon {
        position: absolute;
        left: 50%;
        color: white;
        bottom: 0;
        margin: 0 auto;
        margin-bottom: 30px;
        width: 30px;
        height: 30px;

        &:hover i.bounce-top {
            animation: bounce-top 1.5s both ease-in;
        }
    }
}

div#cardcontainer {
    margin-bottom: 70px;
}



#navigatie {


    li>a,
    div {
        color: $white;
    }

}

h1,
h4 {
    color: $CG_blue;
}

span.navbar-toggler {
    color: black !important;
}

footer {
    background-color: $oxford_blue;
    color: white;
}

div.card#ProfielCard {
    border: none;
    background-color: rgba($color: $white, $alpha: 1);
    color: black;

    div.border-bottom {
        border-bottom: 2px solid $CG_blue !important
    }

    div.border-top {
        border-top: 2px solid $CG_blue !important
    }

    a.btn-outline-dark {
        border-color: $CG_blue;

        &:hover {
            background-color: $Indigo_dye;
        }

    }

}

div#constructionModal {

    div.modal-content {

        height: 400px;
    }

    div.modal-body {

        background-image: url(/img/constuction.jpg);
        background-position: center;
        background-size: cover;

        button.close {
            color: $white;
            text-shadow: 0 1px 0 $oxford_blue;
        }
    }
}